# OS
Thumbs.db
Desktop.ini
.DS_Store

# Editor
.vscode/
.idea/
*.code-workspace

# Logs
*.log
logs/

# Build / Pack outputs
*.pbo
*.pbo.*
*.bisign
*.bikey
*.rpt
*.mdmp
*.ADM

# DayZ / Workbench temp
$RECYCLE.BIN/
work/
workdrive/

# Local profiles / server data
profiles/
profile/
mpmissions/

# Archives
*.zip
*.7z
*.rar
